# https://grafana.com/docs/grafana/latest/datasources/prometheus/
# Its job is to tell Grafana how to connect to Prometheus automatically.
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
